:root{
	--blue: rgb(22, 82, 240);
}

body{
	margin: 0;
	padding:0;
	background-color: #f4f4f4;
	font-family: 'Grandstander', cursive;
}

section{
	width: 80%;
	margin: auto;
}

#head{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

#head label{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	margin: 5vh 0 3vh 0;
}

#form{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#event{
	width: 50vw;
	height: 4vh;
	border: solid 2px var(--blue);
	padding-left: 1vw;
	font-family: inherit;
}

#btn{
	padding: 0.55vw 1vw;
	width:;
	height: 4.9vh;	
	background-color: transparent;
	border: solid 2px var(--blue);
	color: var(--blue);
	font-family: inherit;
} 

#btn:hover, #clear:hover{
	background-color: rgba(22,84,240,0.3);
	cursor: pointer;
}

#parent{
	margin-top: 5vh;
	width: 100%;
	display: grid;
	justify-content: center;
}

#parent ul{
	list-style: none;
	padding: 0;
}

#parent li{
	font-weight: 600;
	font-size: 1.5em;
	width: 70vw;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}


.icon svg{
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	margin-left: 0.3vw;
}

.icon svg:hover{
	cursor: pointer;
}

#Vector, #Vector_2{
	fill: var(--blue);
}


.complete{
	height: 20px;
	width: 20px;
	
}

.complete:hover{
	cursor: pointer;
}

.del{
	border-radius: 50%;
	background-color: transparent;
	border: solid 1px red;
	color: red;
	height: 20px;
	width: 20px;
}

#del:hover{
	background-color: rgba(252, 8, 8, 0.3);
	cursor: pointer;
}

.icon{
	justify-self: end;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.3vw;
	align-items: center;
}

#removeAll{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
}

#clear{
	padding: auto 1vw;
	height: 4.8vh;	
	background-color: transparent;
	border: solid 2px var(--blue);
	color: var(--blue);
	font-family: inherit;
}

#error{
	color: red;
	text-align: center;
}

footer{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}